<mat-toolbar color="primary">
  <mat-toolbar-row class="headerRow">
    <span>Book My Item</span>
    <span class="example-spacer"></span>
    <a mat-button class="bmi-nav-button"  color="accent" routerLink="auth">Home</a>
    <a mat-button  color="accent" routerLink="auth">Contact US</a>
    <a mat-button  color="accent" routerLink="auth">About Us</a>
    <a mat-button  color="accent" routerLink="auth">Buy Our Produt</a>
    <a mat-raised-button  color="accent" routerLink="auth">Login</a>    
  </mat-toolbar-row>
</mat-toolbar>