<div class="login-container">
    <form class="login-wrapper" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <h2 class="text-center text-color">Login</h2>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
                #password="ngModel" required>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
        <a mat-button routerLink="/registration">Register</a>
    </form>
</div>