.login-container {
    background-color:teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height:760px;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: wheat;
    border-radius: 5px;
    padding: 10px;

}