.login-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    height:760px;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(0,0,0,.03);
    border-radius: 5px;
    padding: 10px;

}
.text-center {
    text-align: center;
    color: white
}
.text-color {
    color: rgba(0,0,0,.54);
}